<div id="footer" class="span-24">
	<div class="span-24 links border-5">
	<dl>
		<dt>News Links</dt>
		<dd><a href="/about/">About News</a></dd>
		<dd><a href="/topics/">All Topics</a></dd>
		<dd><a href="{% url "feed" %}">RSS Feed</a></dd>
		<dd><a href="/">Home</a></dd>
	</dl>
	<dl>
		<dt>Contribute</dt>
		<dd><a href="/submit/">Submit News</a></dd>
		<dd><a href="/contact/">Feedback</a></dd>
		<dd><a href="/register/">Join Us</a></dd>
	</dl>
	<dl>
		<dt>Help</dt>
		<dd><a href="/faq/">FAQ</a></dd>
		<dd><a href="/todo/">To-Do List</a></dd>
		<dd><a href="/contact/bugs/">Report a Bug</a></dd>
	</dl>
	<dl>
		<dt>Mobile Design</dt>
		<dd><a href="http://mobiledesign.org/about/">About Mobile Design</a></dd>
		<dd><a href="http://mobiledesign.org/manifesto">Manifesto</a></dd>
		<dd><a href="http://mobiledesign.org/book">Book</a></dd>
		<dd><a href="http://mobiledesign.org/doctype">Mobile Doctype</a></dd>
	</dl>
	<dl>
		<dt>Promotion</dt>
		<dd>Put some promotional text here.</dd>

	</dl>
	</div>
    <p>&copy; 2008 Mobile Design. ${ "Powered by <a class=\"chyrp\" href=\"http://chyrp.net/\">Chyrp</a>" | translate }</p>
</div>